<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar contrase単a</title>
</head>
<body>
    <h1>Cambiar contrase単a</h1>
    <form action="/change-password" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <label for="password"> Nueva contrase単a</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Cambiar contrase単a</button>
    </form>
    
</body>
</html>